.header {
    background: white;
    padding-left: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--color-lightgrey-3);
    flex-wrap: wrap;

    & > * {
        order: 3;
    }

    &__logo {
        order: 1;
        margin: 1.5rem 0;
        height: 4rem;
        width: 5rem;
    }

    @include breakpoint($small-bp) {
        padding-left: 0;
    }
}